/*system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; --> Font styles*/
/*So make a div to surround the header with fixed-header className*/


.header{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    float:left;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: .3%;
    padding-top: .3%;
    font-size: 0.6em;
    background: #15202B;
    color: white;
    width: 41.4%;
    border-top:none;
    border-left: none;
    border-right: 0.1em solid #253341;
    border-bottom: 0.1em solid #253341;
    position:fixed;
    top:0;
    display: inline;
} 

.feed{
   width: 43vw;
   border:none;
}


#sparkle{
    color: #36A1F2;
    width: 4%;
    height:4%;
    float:right;
}

/*Below are for the functional tweet box */

#post{
    width: 43vw;
    display:flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 0.5em;
    position:relative;
}

#picAndInput{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.inputAndButton{

    padding-right: 2%;
    padding-top: 10%;
    padding-left: 1.5%;
    border-bottom:0.5em solid #253341;
}

#userImage{
    max-width: 3vw;
    max-height: 3%;
    border-radius: 50%;
    overflow:hidden;
} 

#inputBar{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    background: #15202B;
    float: center;
    border: none;
    font-size: 1.2em;
    font-weight: 490;
    padding:0.4em;
}

input, select, textarea{
    color: grey;
}

#inputBar:focus{
    outline:none;
}

#feedIconsBar{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#feedIcons{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #36A1F2;
    width: 28%;
    padding-left: 10%;
}

.tweetBar{
    display:flex;
    justify-content: flex-end;
    width: 70%;
}

#tweetBar{
    background-color: #36A1F2;
    color:white;
    font-size: 1em;
    font-weight:bold;
    text-align:center;
    text-decoration: none;
    padding: 0.55em;
    width: 5vw;
    height: 5%;
    cursor: pointer;
    border-radius: 1.5em;
    border:none;
}
/*ONCE WE HAVE ICONS FOR NEXT TO TWITTER BUTTON- do the same for their positioning*/

#tweetBar:hover{
    opacity:50%;
}

#tweetBar:focus{
    outline:none;
}


/*BELOW WILL BE FORMATTING FOR THE INDIVIDUAL POSTS ONCE THEY'RE STACKED-So the render*/


.twitterFeed{
    border-bottom: 0.1em solid #253341;
    padding-top: 2%;
}


.top-row-flex{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: 0.1em solid #253341;
}

.tweet{
    border-left:0.1em solid #253341;
    border-right: 0.1em solid #253341;
}

.profPic{
    border-radius: 50%;
    width: 3.7em;
    height: 3.7em;
    padding-left: 1%;
}

.user{
    font-weight: bold;
    color: white;
    font-size: 1em;
    float:left;
    padding-left: 0.6em;
}

.handle, .createdAt, .timePosted{
    font-size: 1em;
    font-weight: normal;
    color: #84898F;
    padding-left: 0.6em;
}
.timedot{
    font-size: 1em;
    font-weight: normal;
    color: #84898F;
    padding-left: 0.5em;
}

.headline{
   font-size: 1em;
   font-weight: normal;
   width: 100%;
   color: white; 
   padding-left: 4em;
}

.tweetImage{
    max-width: 35vw;
    max-height: auto;
    border-radius: 1.5em;
    overflow: auto;
    margin-left: 4em;
}
