/*system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; --> Font styles*/
/*So make a div to surround the header with fixed-header className*/
/*Need to make a wrapper for these
.div-for-whole-block{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    border-top: 0.1em solid #253341;
    border-bottom: 0.1em solid #253341;
}
*/

.header{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    float:left;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: .3%;
    padding-top: .3%;
    font-size: 0.6em;
    background: #15202B;
    color: white;
    border:none;
} /*This might not work- might be easier to do a sticky header and incorporate that with JS*/


.feed{
   width: 43vw;
   border:none;
}

/*Below are for the functional tweet box */

#post{
    width: 43vw;
    display:flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 0.5em;
    position:relative;
}



.inputAndButton{
    padding-bottom: 7%;
    padding-right: 2%;
    border-bottom:0.5em solid #253341;
}

#userImage{
    max-width: 3vw;
    max-height: 3%;
    border-radius: 50%;
    overflow:hidden;
} 

#inputBar{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    background: #15202B;
    float: center;
    border-right: none;
    border-top: 0.1em solid #253341;
    border-bottom:none;
    font-size: 1.2em;
    font-weight: 490;
    padding:0.6em;
}

input, select, textarea{
    color: grey;
}

#inputBar:focus{
    outline:none;
}

#tweetBar{
    background-color: #36A1F2;
    color:white;
    font-size: 1em;
    font-weight:bold;
    text-align:center;
    text-decoration: none;
    padding: 0.55em;
    width: 5vw;
    height: 5%;
    cursor: pointer;
    border-radius: 1.5em;
    border:none;
}
/*ONCE WE HAVE ICONS FOR NEXT TO TWITTER BUTTON- do the same for their positioning*/

#tweetBar:hover{
    opacity:50%;
}

#tweetBar:focus{
    outline:none;
}

.tweetBar{
    float: right;
    padding-left:88%;
  
}

/*BELOW WILL BE FORMATTING FOR THE INDIVIDUAL POSTS ONCE THEY'RE STACKED-So the render*/


.twitterFeed{
    border-bottom: 0.1em solid #253341;
    padding:0.6em;
    padding-top: 2%;
}


.top-row-flex{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.profPic{
    border-radius: 50%;
    width: 3.7em;
    height: 3.7em;
}

.user{
    font-weight: bold;
    color: white;
    font-size: 1em;
    float:left;
    padding-left: 0.6em;
}

.handle, .timePosted{
    font-size: 1em;
    font-weight: normal;
    color: #84898F;
    padding-left: 0.6em;
}
.timedot{
    font-size: 1em;
    font-weight: normal;
    color: #84898F;
    padding-left: 0.5em;
}

.headline{
   font-size: 1em;
   font-weight: normal;
   width: 100%;
   color: white; 
   padding-left: 4em;
}

.tweetImage{
    max-width: 35vw;
    max-height: auto;
    border-radius: 1.5em;
    overflow: auto;
    margin-left: 4em;
}
/* ---> So these are for the icons underneath
.icons-container{
    max-width: 30%;
    max-height: 1.3%;
    margin: 0, 0, 0, 0.6em;
}*/