.trends-panel {
    position: relative;
    left: 5%;
    width: 75%;
    top:2%;
    line-height: 90%;
}

.trends-panel a {
    color: #36A1F2;
    text-decoration: none;
}

.trends-panel a:hover {
    text-decoration: underline;
}

.trends-searchBar {
    position: relative;
    top: 5%;
    width: 99%;
    height:35px;
    border-radius: 20px;
    background-color:#253341;
    color: grey;
    margin-bottom: 2%;
}

::placeholder {
    color: #808388e1; /*This may affect other placeholders */
}


.trends-aside {
    border-radius: 15px;
    overflow: hidden;
    background-color: #253341;
    padding-top: 2%;
}

.trends-aside h2 {
    border-bottom: 0.05em solid #666769c4;
    color: white;
    font-weight: bold;
    padding-bottom: 3%;
    padding-top: 0;
    padding-left: 2%;
}
.trend-article {
    border-bottom: 0.05em solid #666769c4;
    padding: 8px 12px;
    
}
.trend-article h3 {
    color: white;
    font-weight: bold;
    /* display: flex; */
    display: inline-block;
    text-align: justify;
}

.trend-article p {
    color: grey;
    text-align: justify;
}

.trends-image {
    /* display: flex; */
    /* display: block; */
    float: right;
    height: 40%;
    width: 30%;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: 2%;
        
}

.show-more {
    padding: 4%;
    font-size: large;
}

