.app {
    background-color: #15202B;
    /*May need this for rescaling*/
    /* margin-left: auto;
    margin-right: auto; */
}

.wrapper {
    display: flex;
    height: 100vh;
}

.navbar, .feed, .trends {
    border: 0.1em solid #253341;
}
.navbar {
    width: 25%;
    padding-left: 13%;


}

.feed {
    width: 43%;

}

.trends {
    width: 32%;
    padding-right: 13.5%;

}