*{
    background-color: #15202B;
}

.app {
    background-color: #15202B;
    /*May need this for rescaling*/
    /* margin-left: auto;
    margin-right: auto; */
}

.wrapper {
    display: flex;
    height: 100vh;
}

.navbar, .feed, .trends {
    border-right: 0.1em solid #253341;
    border-left: 0.1em solid #253341;
}

.navbar {
    width: 25%;
    padding-left: 13%;


}

.feed {
    width: 43%;

}

.trends {
    width: 32%;
    padding-right: 13.5%;

}

/* Responsive for iPhone 6/7/8 */

@media screen and (max-width: 375px) {
    .trends, .navbar {
      display: none;
    } * {
        width:fit-content;
    }
    .feed {
        border: none;
        margin-right: 20px;
        margin-left: 20px;
        height: 100%;
        
    }
}